<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../css/all.css">
	<link rel="stylesheet" href="../static/font/iconfont.css">
	<script src="../lib/require.js" data-main="../js/index.js"></script>
	<script>
		require.config({
			paths: {
				"jquery": "../lib/jquery-3.4.1.min"
			}
		});
	</script>
</head>

<body>
	<div class="top"><img data-src="../static/Top.jpg" alt="">
		<div class="topClose">×</div>
	</div>
	@include('head.html')
	<div id="wrap_banner_nav">
	<div class="container" id="banner">
		<ul class="banner_imgs">
		</ul>
		<ol class="banner_dots">
		</ol>
		<div class="banner_menu"></div>
		<div class="banner_btn right">></div>
		<div class="banner_btn left">
			<</div> </div> 
			<!-- 导航 -->
				<div class="nav">
					<div class="nav_wrap first">
						<div class="aa"> <a class="h4" href="#">手机</a><br> <a href="#">荣耀</a>&nbsp;&nbsp;<a href="#">
								HUAWEI P系列</a>
						</div>
						<ul class="aa-a ">
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/1coLENn8BWwp0uk83Z8v.png"
									alt=""><i>HUAWEI nova 系列</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/emEoURCoAws3bwrIgjI8.png"
									alt=""><i>HUAWEI Mate 系列</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/iO74o85KsBQr8wOT1Lkz.png"
									alt=""><i>华为畅享系列</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/o2bkSM98by71VqqvM8oS.png"
									alt=""><i>HUAWEI P系列</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/Ij4d8D0psfX5qo36dANk.png"
									alt=""><i>HUAWEI 麦芒系列</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/rPzFyIRhovqmj0xTAHRJ.png"
									alt=""><i>荣耀畅玩系列</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/KJrjsCp9tWK5cb69sqPZ.png"
									alt=""><i>移动4g+专区</i></li>
							<a href="" class="all_phone">查看全部</a>
						</ul>
					</div>
					<div class="nav_wrap bb">
						<div> <a class="h4" href="#">笔记本 & 平板</a><br> <a href="#">平板电脑</a>&nbsp;&nbsp;<a href="#">笔记本电脑</a>
						</div>
						<ul class="bb-b">
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/E35Vvx4Lga3epwtxaTEc.png"
									alt=""><i>平板电脑</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/SeR9qy8YQtRqReGFsv6K.png"
									alt=""><i>笔记本电脑</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/zJrzC3PB3eRxHgMa4gZp.png"
									alt=""><i>笔记本配件</i></li>
							<a href="" class="all_bb">查看全部</a>
						</ul>
					</div>
					<div class="nav_wrap cc">
						<div>
							<a class="h4" href="#">智能穿戴</a><br>
							<a href="#">手环</a>&nbsp;&nbsp;<a href="#">手表</a>&nbsp;&nbsp;<a href="#">VR</a>
						</div>
						<ul class="cc-c ">
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/mdCqMsUUZa0ffupVTN1Z.png"
									alt=""><i>手环</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/WiJpmV0tMyVz7QdPq1a7.png"
									alt=""><i>手表</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/XeNxztK1Tpbcs2H25xsr.png"
									alt=""><i>VR</i></li>
							<a href="" class="all_bb">查看全部</a>
						</ul>
					</div>
					<div class="nav_wrap dd">
						<div>
							<a class="h4" href="#">智能家居 & 智慧屏</a><br>
							<a href="#">智慧屏</a>&nbsp;&nbsp;<a href="#">路由器</a>&nbsp;&nbsp;<a href="#">照明</a>
						</div>
						<ul class="dd-d ">
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/wiPqyIDUeN0Lxvaiw1Bw.png"
									alt=""><i>智慧屏</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/IFVtkj665KI49A3ym523.png"
									alt=""><i>清洁</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/ndIPbDu9oLvUowEbEKM8.png"
									alt=""><i>节能</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/TpanIrrPjwMu34d3hCgP.png"
									alt=""><i>运动</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/0IOtFzvBXnL1lSGrJ4Db.png"
									alt=""><i>路由器</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/0lCP0qxeMaoDPOLACYbR.png"
									alt=""><i>子母/分布式路由</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/navigation/EhmOYEJxAkrdpZsolbI9.png"
									alt=""><i>环境</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/qPe5p6fzBZg1YHMz1qtg.png"
									alt=""><i>厨电</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>

						</ul>
					</div>
					<div class="nav_wrap ee">

						<div>
							<a class="h4" href="#">热销配件</a><br>
							<a href="#">手机壳</a>&nbsp;&nbsp;<a href="#">移动电源</a>&nbsp;&nbsp;<a href="#">耳机</a>
						</div>
						<ul class="ee-e">
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
						</ul>
					</div>
					<div class="nav_wrap last">

						<div>
							<a class="h4" href="#">增值服务 & 其他</a><br>
							<a href="#">服务器</a>&nbsp;&nbsp;<a href="#">增值卡</a>

						</div>
						<ul class="ff-f ">
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<li><img data-src="https://res.vmallres.com/pimages//pages/frontCategory/vQgeYhJ8nzPnL57QQikv.png"
									alt=""><i>荣耀</i></li>
							<a href="" class="all_ff">查看全部</a>
						</ul>
					</div>
				</div>

			</div>
				<!-- 单独的小弧线 -->
				<div class="mask"></div>

				<div id="phone" class="container"></div>
				<div id="book" class="container"></div>
				<div id="pad" class="container"></div>


				@include('foot.html')
				<!-- 登录 -->
		<!-- <div id="onload">
			<div class="onload_wrap">
				<div class="onload">
					<div class="onload_top">
						<span>×</span>
					</div>
				</div>
			</div>
		</div> -->

</body>

</html>