<div class="wrap">
<div id="foot" class="container">
    <div class="foot_logo l"><a href="#"><img src="../../static/foot_logo.png" alt=""></a></div>
    <div class="foot_link l">
        <p class="link_nav">
            <a href="#">华为集团</a> <i>|</i>
            <a href="#">华为CBG官网</a> <i>|</i>
            <a href="#">荣耀官网</a> <i>|</i>
            <a href="#">花粉俱乐部</a> <i>|</i>
            <a href="#">华为应用市场</a> <i>|</i>
            <a href="#">EMUI</a> <i>|</i>
            <a href="#">华为终端云空间</a> <i>|</i>
            <a href="#">开发者联盟</a> <i>|</i>
            <a href="#">华为商城手机版</a> <i>|</i>
            <a href="#">网站地图</a>
        </p>
        <p class="foot_bottom">
            <a href="#">隐私声明</a>
            <a href="#">服务协议</a>
            <a href="#">COOKIES</a>
            <i>© 2012-2019 华为终端有限公司 版权所有</i>
            <a href="#">粤CIP备19015064号</a> <i>|</i>
            <a href="#">粤公网安备 44190002003939号</a><br>
            <i>增值电信业务经营许可证：粤B2-20190762 | 备案主体编号：44201919072182</i>
        </p>
    </div>

</div></div>